[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi_douban"

[packages]
bihu = "*"

[dev-packages]
pytest = "*"
"e1839a8" = {path = ".", editable = true}

[requires]
python_version = "3.6"
